:root {
  --background-color: hsl(0, 0%, 7%);
  --surface-1: hsl(0, 0%, 12%);
  --surface-2: hsl(0, 0%, 14%);
  --surface-3: hsl(0, 0%, 20%);
  --surface-4: hsl(0, 0%, 16%);
  --surface-5: hsl(0, 0%, 18%);
  --surface-6: hsl(0, 0%, 19%);
  --surface-7: hsl(0, 0%, 21%);
  --surface-8: hsl(0, 0%, 22%);
  --surface-9: hsl(0, 0%, 23%);

  --primary-color: #bb86dc;
  --secondary-color: #03dac5;
  --fail-background: #cf6679;
  --success-background: #78cf66;
  --text-color: white;
  --text-color-light: rgb(168, 168, 168);
}

body {
  background-color: var(--background-color);
  font-size: 16px;
  padding: 0;
  margin: 0;
}

body,
button,
input,
textarea,
pre {
  font-size: 1rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: white;
}

input,
textarea {
  background-color: var(--surface-4);
  color: var(--text-color);
  text-decoration: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

input[type="checkbox"] {
  width: 1.3rem;
  height: 1.3rem;
}

button {
  color: black;
}

button,
.button {
  background-color: var(--primary-color);
  color: black;
  text-decoration: none;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 3rem;
  background-color: var(--surface);
}

header .title {
  margin-right: auto;
}

header .title a {
  color: white;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  width: min(1000px, 95vw);
  display: grid;
  gap: 2rem;
  background-color: var(--surface-1);
  border-radius: 1rem;
  padding: 2rem;
  margin: 2rem;
  box-sizing: border-box;
  text-align: center;
}

.body.playing {
  padding: 2rem 2rem 0 2rem;
  margin: 2rem 2rem 0 2rem;
}

.loading {
  width: 2rem;
  height: 2rem;
  border: 8px dotted white;
  border-radius: 50%;
  align-self: center;
  animation-name: spin;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(359deg);
  }
}

.hidden {
  display: none;
}

form {
  display: grid;
  gap: 2rem;
  background-color: var(--surface-3);
  padding: 1rem;
  border-radius: 1rem;
}

.form-row {
  display: grid;
  gap: 1rem;
}

.form-row.checkbox {
  display: flex;
  align-items: center;
}

.hidden {
  display: none !important;
}

button {
  cursor: pointer;
}

.title {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  overflow: hidden;
}

.title h1 {
  border: 2px solid white;
  padding-left: 1rem;
}

.highlight {
  background-color: white;
  padding: 0 1rem 0 1rem;
  color: var(--surface-1);
}

.instructions {
  font-size: 1.2rem;
}

.game-setup {
  display: grid;
  gap: 2rem;
}

.games {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.game-play {
  display: grid;
  gap: 1rem;
}

.playing .game-play {
  gap: 0;
}

.objectives {
  display: flex;
  justify-content: center;
  gap: 1rem;
  position: absolute;
  top: 1rem;
  width: 100%;
  left: 50%;
  transform: translate(-50%);
}

.objectives.bottom {
  top: unset;
  bottom: 2rem;
}

.card {
  background-color: var(--surface-3);
  border-radius: 0.5rem;
  overflow: hidden;
}

.card .thumbnail {
  height: 300px;
  overflow: hidden;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: inherit;
  transition: transform 0.5s;
}

.card img:hover {
  transform: scale(1.1);
}

.card.objective {
  flex-basis: 100px;
  background-color: var(--surface-1);
}

.card.objective .thumbnail {
  height: 100px;
}

.card.objective img {
  object-fit: contain;
}

.card .description {
  padding: 1rem;
}

.card.objective .description {
  padding: unset;
}

.card .name {
  text-align: center;
}

.game {
  width: 100%;
  position: relative;
}

.image-container {
  position: relative;
  width: 100%;
  max-height: calc(100vh - 3rem);
  overflow: auto;
}

.viewport-wrapper {
  position: relative;
  display: inline-block;
}

.marker {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 2px solid var(--surface-1);
  box-shadow: 0 0 10px 5px var(--primary-color),
    0 0 10px var(--primary-color) inset;
  bottom: 1rem;
  pointer-events: none;
  animation-name: breath;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.target-box {
  pointer-events: none;
  position: absolute;
  border: 2px solid var(--surface-1);
  box-shadow: 0 0 8px 8px var(--primary-color),
    0 0 5px var(--primary-color) inset;
}

.objectives-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
}

.objectives-dropdown button {
  border-radius: unset;
  border: 1px solid black;
  padding: 0.2rem 1.4rem;
  font-size: 1.1rem;
}

.objective.found {
  background-color: var(--success-background);
  color: black;
  pointer-events: none;
}

@keyframes breath {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.image-container img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  display: block;
}

.image-container img.zoomed {
  width: unset;
  height: unset;
}

.flash-message {
  position: fixed;
  top: 2rem;
  padding: 1rem 2rem;
  border-radius: 1rem;
  background-color: white;
  font-size: 1.5rem;
  transition: transform 0.7s ease-out;
  color: black;
}

.flash-message.success {
  background-color: var(--success-background);
}

.flash-message.fail {
  background-color: var(--fail-background);
}

.hidden-message {
  transition: transform 0.7s ease-in;
  transform: translateY(-200%);
}

.body-row {
  position: relative;
}

.timer-container {
  font-size: 1.5rem;
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 1rem;
}

.leaderboard-button {
  font-size: 1.1rem;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  z-index: 1;
}

.leaderboard {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--surface-2);
  padding: 1rem;
  border-radius: 1rem;
  display: grid;
  gap: 2rem;
  z-index: 1;
}

.leaderboard .title {
  text-align: center;
  font-size: 1.5rem;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.scores {
  min-width: 300px;
  display: grid;
  grid-template-columns: auto 1fr;
  border: 1px solid black;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--surface-4);
  max-height: 50vh;
  overflow: auto;
}

.scores > div {
  padding: 0.5rem 1rem;
}

.scores > div:not(:nth-last-child(-n + 2)) {
  border-bottom: 1px solid black;
}

.scores .time {
  text-align: center;
}

.score-submit {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--surface-2);
  padding: 2rem;
  border-radius: 1rem;
  display: grid;
  gap: 2rem;
  z-index: 1;
}

.score-submit .description {
  font-size: 1.1rem;
}

@media screen and (max-width: 1100px) {
  .root {
    width: 95vw;
  }
}

.game {
  display: flex;
}

.zoom-controlls {
  display: flex;
  position: absolute;
  top: 1rem;
  left: 1rem;
  align-items: baseline;
  gap: 1rem;
  background-color: var(--surface-1);
  border-radius: 1rem;
  padding: 0.5rem;
  font-weight: 600;
}

.zoom-controlls button {
  font-weight: bold;
}
