body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.root {
  width: 90vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.body {
  width: 1000px;
}

.hidden {
  display: none !important;
}

.games {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.objectives {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.card {
  border: 5px solid rgb(248, 248, 0);
  background-color: rgb(255, 255, 157);
  border-radius: 1rem;
  overflow: hidden;
}

.card .thumbnail {
  height: 300px;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: inherit;
}

.card.objective .thumbnail {
  height: 150px;
}
.card.objective img {
  object-fit: contain;
}

.card .description {
  padding: 1rem;
}

.card .name {
  text-align: center;
}

.image-container {
  position: relative;
  width: 100%;
  max-height: 90vh;
  border: 2px solid red;
  overflow: auto;
}

.viewport-wrapper {
  position: relative;
  display: inline-block;
}

.marker {
  position: absolute;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid lime;
  box-shadow: 0 0 10px lime, 0 0 10px lime inset;
  bottom: 1rem;
  pointer-events: none;
  animation-name: breath;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

.target-box {
  pointer-events: none;
}

.objectives-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
}

@keyframes breath {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

.dot {
  border: 2px solid cyan;
}

.image-container img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  display: block;
}

.image-container img.zoomed {
  width: unset;
  height: unset;
}
